@font-face {
  font-family: 'iconfont-chat';
  src: url('./iconfont-chat.ttf') format('truetype');
}

.iconfont-chat {
  font-family: 'iconfont-chat' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat-show_shangmaiquan_fill:before {
  content: '\e628';
}

.icon-chat-show_gongsiguanli_fill:before {
  content: '\e629';
}

.icon-chat-show_qingchuhuancun_fill:before {
  content: '\e62a';
}

.icon-chat-show_wodewenjuan_fill:before {
  content: '\e62b';
}

.icon-chat-act_tuichu:before {
  content: '\e62c';
}

.icon-chat-act_shaixuan:before {
  content: '\e62d';
}

.icon-chat-act_liebiaohengxiang:before {
  content: '\e62e';
}

.icon-chat-act_liebiaozongxiang:before {
  content: '\e62f';
}

.icon-chat-show_renqiredu:before {
  content: '\e630';
}

.icon-chat-show_jiantoufanhui_zuo:before {
  content: '\e631';
}

.icon-chat-show_zhediezhankai_xiangshang:before {
  content: '\e632';
}

.icon-chat-show_zhediezhankai_xiangxia:before {
  content: '\e633';
}

.icon-chat-show_jiantougengduo_you:before {
  content: '\e634';
}

.icon-chat-show_danjiantoujiantou_xia:before {
  content: '\e635';
}

.icon-chat-show_danjiantoujiantou_shang:before {
  content: '\e636';
}

.icon-chat-act_sousuo:before {
  content: '\e637';
}

.icon-chat-show_yuangongguanli:before {
  content: '\e638';
}

.icon-chat-show_zhanpinguanli:before {
  content: '\e639';
}

.icon-chat-act_jiebang:before {
  content: '\e63a';
}

.icon-chat-act_tianjia:before {
  content: '\e63b';
}

.icon-chat-act_qingchu:before {
  content: '\e63c';
}

.icon-chat-act_qingchu_full:before {
  content: '\e63d';
}

.icon-chat-act_dianzan:before {
  content: '\e63e';
}

.icon-chat-act_dianzan_full:before {
  content: '\e63f';
}

.icon-chat-act_xuanzeyanzhengweixuanzhong:before {
  content: '\e640';
}

.icon-chat-act_sanjiao_xia:before {
  content: '\e641';
}

.icon-chat-act_sanjiao_shang:before {
  content: '\e642';
}

.icon-chat-sanjiao-xia:before {
  content: '\e643';
}

.icon-chat-act_sanjiao_shang1:before {
  content: '\e644';
}

.icon-chat-show_lishijilu:before {
  content: '\e645';
}

.icon-chat-act_paishe:before {
  content: '\e646';
}

.icon-chat-act_paishe_fill:before {
  content: '\e647';
}

.icon-chat-act_xuanzetupianku:before {
  content: '\e648';
}

.icon-chat-act_xuanzetupianku1:before {
  content: '\e649';
}

.icon-chat-show_wenhao:before {
  content: '\e64a';
}

.icon-chat-act_yaoyuenew:before {
  content: '\e64b';
}

.icon-chat-dianhua:before {
  content: '\e64c';
}

.icon-chat-fabu:before {
  content: '\e64d';
}

.icon-chat-show_viphuiyuan-daiyaoyue:before {
  content: '\e64e';
}

.icon-chat-show_viphuiyuanguanggao:before {
  content: '\e64f';
}

.icon-chat-show_viphuiyuanyaoyueqianIM:before {
  content: '\e650';
}

.icon-chat-show_viphuiyuanyaoyueqiandianhua:before {
  content: '\e651';
}

.icon-chat-show_viphuiyuanyaoyue:before {
  content: '\e652';
}

.icon-chat-show_viphuiyuangengduoquanyi:before {
  content: '\e653';
}

.icon-chat-show_vipzengzhi:before {
  content: '\e654';
}

.icon-chat-show_viphuiyuan:before {
  content: '\e655';
}

.icon-chat-show_zhanpinpinpai:before {
  content: '\e656';
}

.icon-chat-xiala_up:before {
  content: '\e657';
}

.icon-chat-xiala:before {
  content: '\e658';
}

.icon-chat-show_fenxiang:before {
  content: '\e659';
}

.icon-chat-show_goumai_fill:before {
  content: '\e65a';
}

.icon-chat-show_goumai:before {
  content: '\e65b';
}

.icon-chat-show_jiarukehuchi:before {
  content: '\e65c';
}

.icon-chat-act_jiaobiaobianji:before {
  content: '\e65d';
}

.icon-chat-act_danxuan:before {
  content: '\e65e';
}

.icon-chat-show_viphuiyuangengduoquanyi1:before {
  content: '\e65f';
}

.icon-chat-anzhuo:before {
  content: '\e660';
}

.icon-chat-iOS:before {
  content: '\e661';
}

.icon-chat-show_pingbi:before {
  content: '\e662';
}

.icon-chat-show_pingbi_full:before {
  content: '\e663';
}

.icon-chat-navbar_wode_xuanzhong:before {
  content: '\e600';
}

.icon-chat-navbar_wode:before {
  content: '\e601';
}

.icon-chat-navbar_xiaoxi:before {
  content: '\e602';
}

.icon-chat-navbar_xiaoxi_xuanzhong:before {
  content: '\e603';
}

.icon-chat-navbar_zhanshang:before {
  content: '\e604';
}

.icon-chat-navbar_zhanshang_xuanzhong:before {
  content: '\e605';
}

.icon-chat-navbar_zhanpin:before {
  content: '\e606';
}

.icon-chat-navbar_zhanpin_xuanzhong:before {
  content: '\e607';
}

.icon-chat-navbar_zhuye:before {
  content: '\e608';
}

.icon-chat-navbar_zhuye_xuanzhong:before {
  content: '\e609';
}

.icon-chat-navbar_guanzhong:before {
  content: '\e60a';
}

.icon-chat-navbar_guanzhong_xuanzhong:before {
  content: '\e60b';
}

.icon-chat-navbar_lianxiren:before {
  content: '\e60c';
}

.icon-chat-navbar_lianxiren_xuanzhong:before {
  content: '\e60d';
}

.icon-chat-act_huifuzixun:before {
  content: '\e60e';
}

.icon-chat-act_qingkong:before {
  content: '\e60f';
}

.icon-chat-act_shuaxinhuanyipi:before {
  content: '\e610';
}

.icon-chat-act_fabu:before {
  content: '\e611';
}

.icon-chat-act_shoucang:before {
  content: '\e612';
}

.icon-chat-act_shoucang_xuanzhong:before {
  content: '\e613';
}

.icon-chat-act_yaoyue:before {
  content: '\e614';
}

.icon-chat-act_fanhui:before {
  content: '\e615';
}

.icon-chat-act_guanbi:before {
  content: '\e616';
}

.icon-chat-act_shangmaiquan:before {
  content: '\e617';
}

.icon-chat-act_saoyisao:before {
  content: '\e618';
}

.icon-chat-show_weishangshi:before {
  content: '\e619';
}

.icon-chat-show_shangshi:before {
  content: '\e61a';
}

.icon-chat-show_dianhua:before {
  content: '\e61b';
}

.icon-chat-show_dianhua_full:before {
  content: '\e61c';
}

.icon-chat-show_duoxuan:before {
  content: '\e61d';
}

.icon-chat-show_duoxuanyanzheng_xuanzhong:before {
  content: '\e61e';
}

.icon-chat-show_tongzhi:before {
  content: '\e61f';
}

.icon-chat-act_bianji:before {
  content: '\e620';
}

.icon-chat-show_xiongka:before {
  content: '\e621';
}

.icon-chat-act_shezhi_fill:before {
  content: '\e622';
}

.icon-chat-act_shezhi:before {
  content: '\e623';
}

.icon-chat-act_saoyisao_fill:before {
  content: '\e624';
}

.icon-chat-show_zaixiankefu_fill:before {
  content: '\e625';
}

.icon-chat-show_yijianfankui_fill:before {
  content: '\e626';
}

.icon-chat-show_yinsizhengce_fill:before {
  content: '\e627';
}
